<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.coldchain.server.mapper.GoodOrderMapper">

    <resultMap id="BaseResultMap" type="com.example.coldchain.server.pojo.GoodOrder">
        <result property="id" column="id"/>
        <result property="goodKind" column="good_kind"/>
        <result property="starting" column="starting"/>
        <result property="destination" column="destination"/>
        <result property="deviceId" column="device_id"/>
        <result property="completeState" column="complete"/>
        <result property="videoHttpFront" column="video_http_front"/>
        <result property="videoHttpBack" column="video_http_back"/>
        <result property="delete" column="delete"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="driverId" column="driver_id"/>
        <result property="carId" column="car_id"/>
        <result property="countDoor" column="count_door"/>
        <result property="alert" column="alert"/>
        <result property="quarantineCertificateId" column="quarantine_certificate_id"/>
        <result property="meatQualityInspectionId" column="meat_quality_inspection_id"/>
        <result property="selfTestReportId" column="self_test_report_id"/>
        <result property="slaughter" column="slaughter"/>
        <result property="transportCompany" column="transport_company"/>

        <result property="loadingVideoId" column="loading_video_id"/>
        <result property="unloadingVideoId" column="unloading_video_id"/>
        <result property="date" column="date"/>
        <result property="height" column="height"/>
        <result property="creatorId" column="creator_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, good_kind, `starting`, destination, device_id, complete, video_http_front, video_http_back, `delete`, create_time,
        update_time, driver_id, car_id, count_door, alert, quarantine_certificate_id, meat_quality_inspection_id,
        self_test_report_id,slaughter, transport_company,  loading_video_id, unloading_video_id, `date`,height, creator_id
    </sql>

    <insert id="saveSelective"  useGeneratedKeys="true" keyProperty="id"  parameterType="com.example.coldchain.server.pojo.GoodOrder">
        insert into goodorder (id ,driver_name, driver_phone,driver_id ,good_kind ,good_name ,`starting` ,destination ,car_id ,complete ,
                               temp_high ,temp_low ,humidity_high ,humidity_low ,car_license,video_http ,`delete` ,create_time ,update_time,
                               unloading_video_id, loading_video_id, creator_id)
        values (#{id},#{driverName},#{driverPhone}, #{driverId}, #{goodKind}, #{goodName},
        #{starting}, #{destination}, #{carId}, #{complete},#{tempHigh}, #{tempLow}, #{humidityHigh}, #{humidityLow},
        #{carLicense},#{videoHttp}, #{delete}, #{createTime}, #{updateTime}, #{unloadingVideoId},#{loadingVideoId},#{creatorId})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.example.coldchain.server.pojo.GoodOrder">
        update goodorder
        <set>
            <if test="null!=driverId">
                driver_id = #{driverId, jdbcType=BIGINT} ,
            </if>
            <if test="null!=goodKind and ''!=goodKind ">
                good_kind = #{goodKind, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=starting and ''!=starting ">
                `starting` = #{starting, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=destination and ''!=destination ">
                destination = #{destination, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=deviceId and ''!=deviceId">
                device_id = #{deviceId, jdbcType=VARCHAR},
            </if>
            <if test="null!=carId and ''!=carId ">
                car_id = #{carId, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=delete">
                `delete` = #{delete, jdbcType=TINYINT} ,
            </if>
            <if test="null!=completeState">
                complete = #{completeState, jdbcType=TINYINT} ,
            </if>
            <if test="null!=createTime">
                create_time = #{createTime, jdbcType=TIMESTAMP} ,
            </if>
            <if test="null!=updateTime">
                update_time = #{updateTime, jdbcType=TIMESTAMP},
            </if>
            <if test="null!=creatorId and ''!=creatorId">
                creator_id = #{creatorId, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=countDoor and ''!=countDoor">
                count_door = #{countDoor, jdbcType = INTEGER},
            </if>
            <if test="null!=alert and ''!=alert">
                alert = #{alert, jdbcType=INTEGER},
            </if>
            <if test="null!=quarantineCertificateId and ''!=quarantineCertificateId">
                quarantine_certificate_id  = #{quarantineCertificateId, jdbcType=VARCHAR},
            </if>
            <if test="null!=meatQualityInspectionId and ''!=meatQualityInspectionId">
                meat_quality_inspection_id = #{meatQualityInspectionId, jdbcType=VARCHAR},
            </if>
            <if test="null!=selfTestReportId and ''!=selfTestReportId">
                self_test_report_id = #{selfTestReportId, jdbcType=VARCHAR},
            </if>
            <if test="null!=videoHttpBack and ''!=videoHttpBack">
                video_http_back = #{videoHttpBack, jdbcType=VARCHAR},
            </if>
            <if test="null!=videoHttpFront and ''!=videoHttpFront">
                video_http_front = #{videoHttpFront, jdbcType=VARCHAR},
            </if>
            <if test="null!=slaughter and ''!=slaughter">
                slaughter = #{slaughter, jdbcType=VARCHAR},
            </if>
            <if test="null!=transportCompany and ''!=transportCompany">
                transport_company = #{transportCompany, jdbcType=VARCHAR},
            </if>
            <if test="null!=height and ''!=height">
                height = #{height, jdbcType=VARCHAR},
            </if>
            <if test="null!=loadingVideoId and ''!=loadingVideoId">
                loading_video_id = #{loadingVideoId, jdbcType=VARCHAR},
            </if>
            <if test="null!=unloadingVideoId and ''!=unloadingVideoId">
                unloading_video_id = #{unloadingVideoId, jdbcType=VARCHAR},
            </if>
            <if test="null!=date and ''!=date">
                `date` = #{date, jdbcType=VARCHAR},
            </if>
            <if test="null!=creatorId">
                creator_id = #{creatorId, jdbcType=BIGINT}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM goodorder
        WHERE
        id = #{id}
    </select>
    <select id="getNotCompeteOrderList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM goodorder
        WHERE
        complete = #{completeState}
        ORDER BY ID
    </select>

    <select id="getOrderByDeviceId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT * FROM goodorder WHERE device_id=#{deviceId} order by id DESC LIMIT 1
    </select>

</mapper>
