<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.coldchain.server.mapper.GoodOrderMapper">

    <resultMap id="BaseResultMap" type="com.example.coldchain.server.pojo.GoodOrder">
        <result property="id" column="id"/>
        <result property="goodKind" column="good_kind"/>
        <result property="starting" column="starting"/>
        <result property="destination" column="destination"/>
        <result property="deviceId" column="device_id"/>
        <result property="completeState" column="complete"/>
        <result property="videoHttpFront" column="video_http_front"/>
        <result property="videoHttpBack" column="video_http_back"/>
        <result property="delete" column="delete"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="driverId" column="driver_id"/>
        <result property="carId" column="car_id"/>
        <result property="countDoor" column="count_door"/>
        <result property="errorState" column="error_state"/>
        <result property="quarantineCertificateId" column="quarantine_certificate_id"/>
        <result property="meatQualityInspectionId" column="meat_quality_inspection_id"/>
        <result property="selfTestReportId" column="self_test_report_id"/>
        <result property="slaughter" column="slaughter"/>
        <result property="transportCompany" column="transport_company"/>
        <result property="height" column="height"/>
        <result property="unloadingVideoId" column="unloading_video_id"/>
        <result property="date" column="date"/>
        <result property="loadingVideoId" column="loading_video_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, good_kind, `starting`, destination, device_id, complete, video_http_front, video_http_back, `delete`, create_time, update_time, driver_id, car_id, count_door, error_state, quarantine_certificate_id, meat_quality_inspection_id, self_test_report_id,
        slaughter, transport_company, height, unloading_video_id, `date`, loading_video_id
    </sql>

    <insert id="saveSelective"  useGeneratedKeys="true" keyProperty="id"  parameterType="com.example.coldchain.server.pojo.GoodOrder">
        insert into goodorder (id ,driver_name, driver_phone,driver_id ,good_kind ,good_name ,`starting` ,destination ,car_id ,complete ,
                               temp_high ,temp_low ,humidity_high ,humidity_low ,car_license,video_http ,`delete` ,create_time ,update_time)
        values (#{id},#{driverName},#{driverPhone}, #{driverId}, #{goodKind}, #{goodName},
        #{starting}, #{destination}, #{carId}, #{complete},
        #{tempHigh}, #{tempLow}, #{humidityHigh}, #{humidityLow},
        #{carLicense},#{videoHttp}, #{delete}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.example.coldchain.server.pojo.GoodOrder">
        UPDATE goodorder
        <set>
            <if test="null!=driverName and ''!=driverName">
                driver_name = #{driverName, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=driverPhone and ''!= driverPhone">
                driver_phone = #{driverPhone, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=driverId">
                driver_id = #{driverId, jdbcType=BIGINT} ,
            </if>
            <if test="null!=goodKind and ''!=goodKind ">
                good_kind = #{goodKind, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=goodName and ''!=goodName ">
                good_name = #{goodName, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=starting and ''!=starting ">
                `starting` = #{starting, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=destination and ''!=destination ">
                destination = #{destination, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=carId and ''!=carId ">
                car_id = #{carId, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=complete">
                complete = #{complete, jdbcType=TINYINT} ,
            </if>
            <if test="null!=tempHigh and ''!=tempHigh ">
                temp_high = #{tempHigh, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=tempLow and ''!=tempLow ">
                temp_low = #{tempLow, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=humidityHigh and ''!=humidityHigh ">
                humidity_high = #{humidityHigh, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=humidityLow and ''!=humidityLow ">
                humidity_low = #{humidityLow, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=carLicense and ''!=carLicense">
                car_license = #{carLicense, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=videoHttp and ''!=videoHttp ">
                video_http = #{videoHttp, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=delete">
                `delete` = #{delete, jdbcType=TINYINT} ,
            </if>
            <if test="null!=createTime">
                create_time = #{createTime, jdbcType=TIMESTAMP} ,
            </if>
            <if test="null!=updateTime">
                update_time = #{updateTime, jdbcType=TIMESTAMP}
            </if>
        </set>
        WHERE
        id = #{id}
    </update>

    <select id="getByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM goodorder
        WHERE
        id = #{id}
    </select>
    <select id="getNotCompeteOrderList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM goodorder
        WHERE
        complete = 0
        ORDER BY ID
    </select>

    <select id="getOrderByDeviceId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT * FROM goodorder WHERE device_id=#{deviceId} order by id DESC LIMIT 1
    </select>

</mapper>
